<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
  <form action="/madlib">
    <label for="user-name">Username</label>
    <input type="text" name="person"><br><br>

    <label for="col-select">Choose color: </label>
    <select name="color" id="col-select">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select> <br><br>

    Select your noun: <br>
    <input type="checkbox" name="noun" id="parrot">
    <label for="parrot">Parrot</label>
    <input type="checkbox" name="noun" id="apple">
    <label for="appple">Apple</label>

    <p>
        <label>Adjective: <input type="text" name="adjective"></label>
    </p>


    <input type="submit">
  </form>
</body>
</html>